@import "@/app/[locale]/styles";

.explorer {
  &-wrapper {
    position: relative;
    padding: $p-40 $p-12 $p-60 $p-12;

    > img {
      height: $h-bg !important;
      z-index: -1;
    }

    @media screen and (min-width: 1600px) {
      .explorer-catalog {
        grid-template-columns: repeat(5, 1fr);
      }
    }

    @media screen and (max-width: 767px) {
      overflow: hidden;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
      padding-left: $p-20;
      padding-right: $p-20;
    }

    @media screen and (min-width: 1024px) {
      padding: $p-40 $p-60 $p-80 $p-60;
    }
  }

  &--not-found {
    @include not-found;
  }
}
